# dependencies
/node_modules
/.pnp
.pnp.*

# next
/.next/
/out/

# data file (optional: remove if you want to commit live data)
/data/election.json

# misc
.DS_Store
*.pem
.env*
.vercel
*.tsbuildinfo
next-env.d.ts
